<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- Uses LocalDB. If you use a full SQL Server instance change Data Source accordingly -->
		<add name="SchoolDB" connectionString="Data Source=LAPTOP-OB3AGF3O\SQLEXPRESS;Initial Catalog=SchoolDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	
</configuration>